/*
 * =Base
 */
body {
  font-family: 'Droid Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #3a3a3a;
}
p {
  font-size: 15px;
  margin: 1em 0;
}
.field-content a,
.field-items a,
.content a:link {
  color: #f55e00;
}

#content p {
  font-family: 'Droid Serif', Georgia, serif;
}
/*
 * =Override
 */
#header,
#footer-wrapper,
#skip-link,
ul.contextual-links,
ul.links,
ul.primary,
.item-list .pager,
div.field-type-taxonomy-term-reference,
div.messages,
div.meta,
p.comment-time,
table,
.breadcrumb {
  font-family: 'Droid Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.region-header {
  clear: none;
  float: left;
  height: 80px;
  width: 709px;
  position: relative;
  top: -6px;
}

/*
 * =Layout
 */
#header {
  background: whiteSmoke;
  border-top: 6px solid black;
  border-bottom: 1px solid #e4e4e4;
}
#footer-wrapper {
  background-color: #363636;
}

/*
 * =Main Nav
 */
#block-menu-menu-main-nav ul {
  padding: 0 0 0 150px;
  margin: 0;
  overflow: hidden;
}
#block-menu-menu-main-nav ul li {
  margin-left: 5px;
  padding: 0;
  float: left;
  list-style: none outside none;
}

#block-menu-menu-main-nav ul li ul {
  display: none;
}

#block-menu-menu-main-nav ul li a {
  border-top: 6px solid #000;
  color: #6e6e6e;
  display: block;
  height: 70px;
  line-height: 110px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 10px;
}

#block-menu-menu-main-nav ul li a:hover,
#block-menu-menu-main-nav ul li a.active,
#block-menu-menu-main-nav ul li.active-trail a {
  color: #000;
  border-bottom: 2px solid #fa5d00;
  border-top: 6px solid #fa5d00;
}

#main-menu ul li.last a {
  padding-right: 0;
}
