.block ul,
.item-list ul {
  margin: 0;
  padding: 0;
}
.item-list ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*
 * =Listados
 */
.news-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.news-list .views-row {
  border-top: 1px dotted #313131;
  padding-top: 35px;
}
.news-list .views-row-first {
  border: none;
  padding-top: 0;
}
.region-content .cat-list {
  margin: 0 0 0 -15px;
  width: 960px;
  list-style-type: none;
}
.cat-list .views-row {
  width: 300px;
  min-height: 280px;
  float: left;
  margin-left: 12px;
  margin-bottom: 40px;
  display: inline-block;
  vertical-align: top; /* BASELINE CORRECCIÓN*/
  zoom: 1; /* IE7 (hasLayout)*/
  *display: inline; /* IE */
  border: solid white 1px;
  _height: 280px; /* IE6 */
}
.cat-list img {
  border: solid 1px #d5d5d5;
}
.cat-list .views-field-title a,
.news-list .views-field-title a,
.views-view-grid .views-field-title a {
  color: #444;
  font-weight: bold;
  display: block;
  padding-top: 10px;
  padding-bottom: 0;
  margin: 0;
  padding-right: 10px;
  font-size: 18px;
  font-family: 'Droid Serif', Georgia, serif;
}

ul.pager {
  font-size: 14px;
  padding: 0;
  overflow: hidden;
}
ul.pager li {
  margin-right: 0;
  float: left;
}
.item-list .pager li {
  padding: 0 1px;
}
ul.pager li a:link {
  color: #555;
  display: block;
  text-align: center;
  line-height: 20px;
  margin: 0;
  padding: 5px;
  background: #f1f1f1;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
ul.pager .pager-current {
  padding: 5px;
}
ul.pager li a:hover {
  text-decoration: none;
  background: #ccc;
  color: #333;
}
ul.pager li.current {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 20px;
  margin: 0;
  padding: 5px;
  margin-right: 5px;
  background: #666;
  color: #fff;
  font-weight: bold;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
ul.pager li.first a,
ul.pager li.previous a,
ul.pager li.next a,
ul.pager li.last a {
  width: auto;
  padding: 5px 15px;
}

#triptych-wrapper .block {
  border-top: 2px solid #333;
}
#triptych-wrapper .block h2 {
  text-transform: uppercase;
  color: #333;
  margin: 10px 0;
  background: none;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  line-height: 35px;
  text-align: left;
}

.block-project .views-row {
  float: left;
  margin: 0 4px 5px 0;
  padding: 2px;
  border: 1px solid #ccc;
  width: 130px;
  height: 80px;
}
.block-project .views-row:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
}
#triptych .block-fact ul {
  background: #c2e5e7;
  padding: 20px;
  margin: 0;
  overflow: hidden;
}
#triptych .block-fact li {
  float: left;
  height: 60px;
  list-style: none outside none;
  margin: 5px 0;
  overflow: hidden;
  padding: 0;
  width: 260px;
}

#triptych .block-fact li h2 {
  color: #00a4af;
  float: left;
  height: 60px;
  line-height: 22px;
  margin: 0 15px 0 0;
  padding: 15px 0;
  text-align: right;
  width: 75px;
  text-transform: uppercase;
  text-shadow: none;
  font-size: 34px;
  font-weight: normal;
  font-family: 'Droid Serif', Georgia, serif;
}
.block-fact li p {
  color: #333;
  display: block;
  float: left;
  margin: 5px 0;
  width: 155px;
  font-size: 15px;
  line-height: 20px;
}

.views-view-grid td {
  vertical-align: top;
  padding: 4px 5px;
}
